In [1]:
import pandas as pd

In [2]:
filepath = 'tableaux-4001-ts.xlsx'
xl = pd.ExcelFile('tableaux-4001-ts.xlsx')
print(xl.sheet_names)
dict_df = pd.read_excel(filepath, xl.sheet_names)

['France_Entière', 'France_Métro', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '971', '972', '973', '974', '975', '976', '977', '978', '986', '987', '988']

In [3]:
names = xl.sheet_names[2:-11]
print(names)
test_df = pd.DataFrame()
test_df['departement'] = "1"
for name in names:
    test_df = pd.concat([test_df, pd.read_excel(xl, name)])
# test_df

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95']

In [4]:
dict_year = {}
test_df['departement'] = "1"
for col_name in test_df.columns:
    if '_' in col_name:
        s=col_name.split("_")
        year = s[1]
        month = s[2]
        if year in col_name:
            if year in dict_year:
                  dict_year[year].append(col_name)
            else:
                  dict_year[year] = [col_name]
for year in dict_year:
    test_df[year] = test_df[dict_year[year]].sum(axis=1)
for col_name in test_df.columns:
    if '_' in col_name:
        test_df = test_df.drop(col_name, axis=1)

In [16]:
# test_df = test_df.set_index('libellé index')
number =  "00"
test_df['departement'] = number
for col_name in test_df.T.columns:
    if col_name == '1':
        print(col_name,test_df['departement'][col_name])

In [9]:
test_df.to_csv('test.csv', index=False)

In [ ]:
tab4001 = pd.read_excel('tableaux-4001-ts.xlsx', sheet_name=2)
tab4001 = tab4001.drop(['Index'], axis=1)
tab4001.set_index('libellé index', inplace=True)
tab4001 = tab4001.T
tab4001['dept'] = '1'
tab4001 = tab4001.reset_index()

for i in range(3,98):
    df = pd.read_excel('tableaux-4001-ts.xlsx', sheet_name=i)
    df = df.drop(['Index'], axis=1)
    df.set_index('libellé index', inplace=True)
    df = df.T
    if i < 21:
        dept = str(i - 1)
    elif i == 21:
        dept = '2A'
    elif i == 22:
        dept = '2B'
    elif i > 22:
        dept = str(i - 2)
    df['dept'] = dept
    df = df.reset_index()
    tab4001 = pd.concat([tab4001, df], ignore_index=True)